* {
  font-family: "Comic Neue", "Courier New", Courier, monospace;
  border-radius: 1%;
}

body {
  margin: 0;

  /* text-align: center; */
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /* margin-left: 5%; */

  /* height: 95vh; */
}

#content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  /* height: 5vh; */
  min-height: 60px;
}

.main-nav {
  justify-content: space-between !important;
  justify-self: baseline;
  align-items: center;
  border: 5px solid black;
  height: 90%;
  width: 90% !important;
  position: relative;
  left: 0.4rem;
}

a {
  text-decoration: none;
  color: black;
}

nav section a {
  margin-left: 2rem;
}

nav section div {
  width: 40% !important;
  justify-content: flex-end !important;
}

nav section div a {
  margin: 0.3rem 0.5rem;
  padding-right: 1rem;
  border-right: 3px solid black;
}

.clock-section {
  width: 100%;
  margin: 0 auto;

  /* height: ; */
}

.clock-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.clock {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.6rem;
  margin-bottom: 0;
}

#contact {
  margin-right: 0;
  border-right: 0;
}

.contact-text {
  font-size: 2rem;
}

.contact-text-secondary {
  font-size: 1.8rem;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

button {
  all: unset;
  border: 3px solid black;
  border-radius: 5%;
  padding: 0.2em 0.4rem;
  box-shadow: 4px 3px black;
  background: white;
  cursor: pointer;
  user-select: none;
}

form {
  width: 100%;
}

input {
  border: 3px solid black;
  border-radius: 5%;
  margin: 0.5rem;
  padding: 0.4rem;
  width: 90%;
}

.spacer {
  border-top: 3px solid black;
  width: 10%;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert {
  color: red;
}

.nav-items {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-text {
  margin-left: 2rem;
}

.section-headers {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

#books {
  width: 90%;
  height: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#booksList {
  padding: 0;
  border: 5px solid black;
  width: 100%;
  max-height: 60vh;
  overflow: scroll;
}

#booksList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.1rem 1.5rem;
}

#booksList li:nth-child(odd) {
  background: rgba(128, 128, 128, 0.267);
}

#add {
  display: none;
  width: 50%;
  text-align: center;
  margin: 10% auto;
}

#addBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#hero {
  margin: 15% auto;
}

#addBook button {
  width: min-content;
  margin-right: 5%;
}

#error {
  height: 1rem;
  text-align: center;
  padding: 0;
  overflow-y: hidden;
}

#contactSection {
  display: none;
  margin: 10% auto;
}

footer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
}

#copyright {
  margin: 0.5rem;
  border: 5px solid black;
  margin-left: 5%;
  margin-right: 5%;

  /* padding: 0.1% 0.5rem; */
  width: 90%;
  font-weight: bold;
}

#bottom {
  background: rgb(189, 189, 189);
  height: 2rem;
  text-align: right;
  border: 3px solid black;
}

#bottom p {
  margin-top: 1% !important;
}
