* {
  font-family: "Comic Neue", "Courier New", Courier, monospace;
  border-radius: 1%;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  justify-content: space-between !important;
  align-items: center;
  margin: 1rem;
  border: 5px solid black;
  height: min-content;
  width: 90% !important;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  margin-left: 5%;
}

nav div {
  width: 40% !important;
  justify-content: flex-end !important;
}

nav div a {
  margin: 0.3rem 0.5rem;
  padding-right: 1rem;
  border-right: 3px solid black;
}

#contact {
  margin-right: 0;
  border-right: 0;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

button {
  all: unset;
  border: 3px solid black;
  border-radius: 5%;
  padding: 0.2em 0.4rem;
  box-shadow: 4px 3px black;
  background: white;
  cursor: pointer;
  user-select: none;
}

input {
  border: 3px solid black;
  border-radius: 5%;
  margin: 0.5rem;
  padding: 0.4rem;
}

.spacer {
  border-top: 3px solid black;
  width: 10%;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert {
  color: red;
}

.nav-items {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-text {
  margin-left: 2rem;
}

.section-headers {
  font-size: 2rem;
  font-weight: bold;
}

#books {
  width: 90%;
  display: none;
  flex-direction: column;
  text-align: center;
}

#booksList {
  padding: 0;
  border: 5px solid black;
  width: 100%;
  max-height: 37rem;
  overflow: scroll;
}

#booksList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.1rem 1.5rem;
}

#booksList li:nth-child(odd) {
  background: rgba(128, 128, 128, 0.267);
}

#add {
  display: none;
}

#addBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#addBook button {
  width: min-content;
  margin-right: 5%;
}

#error {
  height: 1rem;
  text-align: center;
  padding: 0;
  overflow-y: hidden;
}

#contactSection {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#copyright {
  margin: 0.5rem;
  border: 5px solid black;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0.1% 0.5rem;
  font-weight: bold;
}

#bottom {
  background: rgb(189, 189, 189);
  width: 100vw;
  height: 2rem;
  text-align: right;
  padding-right: 5rem;
  border: 3px solid black;
}

#bottom p {
  margin-top: 1% !important;
}
